<nav>
    <div class="nav-wrapper light-blue darken-4" id="navbar">
        <a routerLink="/home" class="brand-logo">Reparaciones</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="request/solicitar">Solicitar reparación</a></li>
            <li><a routerLink="request/versolicitudes">Ver Solicitudes</a></li>
        </ul>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo">
    <li><a routerLink="request/solicitar">Solicitar reparación</a></li>
    <li><a routerLink="request/versolicitudes">Solicitar reparación</a></li>
  </ul>